.box {
    display: flex !important;
    max-width: 781px !important;
    width: 100% !important;
}

.container-inside-box {
    padding-left: 49px !important;
    margin-top: 14px !important;
    display: flex  !important;
}   

