

.collapsible .content {
    padding: 6px;
    background-color: #ffffff;
    padding-left: 10px;
}
.collapsible .header {
    background-color: #ffffff;
    padding: 6px;
    /* cursor: pointer; */
}